$prevPwd = $PWD; Set-Location -ErrorAction Stop -LiteralPath $PSScriptRoot

docker build -f Dockerfile -t thinkexception.azurecr.io/microtodo-frontend:<Tag> .\..
docker push thinkexception.azurecr.io/microtodo-frontend:<Tag>

$prevPwd | Set-Location
